NEXT_PUBLIC_SITE_URL=https://www.doubleasolutions.ch
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_COMPANY_PHONE="+41 76 307 31 59"
NEXT_PUBLIC_COMPANY_EMAIL="solar@doubleasolutions.ch"
